body{
	background-image: url('../images/beachsunset.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	text-align: center;
	font-weight: 10px;
	font-size: 40px;
	color: black;
}

div {
	background-color: transparent;
	text-align: center;
	font-weight: 10px;
	font-size: 30px;
	color: black;
}

button {
	background-color: transparent;
	border-color: black;
	text-align: center;
	font-weight: 10px;
	font-size: 20px;
	color: black;
}




.addBtn {
	background-color: transparent;
	border-color: black;
	text-align: center;
	font-weight: 10px;
	font-size: 20px;
	color: black;
}

input {
	background-color: transparent;
	border-color: black;
	text-align: center;
	font-weight: 10px;
	font-size: 20px;
	color: black;
}