body{
	background-image: url('../images/beachsunset.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right right;
}

h1 {
	text-align: center;
    font-family: sans-serif;
	font-size: 50px;
	color: white;
	padding-top: 100px;
}

div {
	background-color: transparent;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}

button {
	background-color: transparent;
	border-color: white;
	text-align: center;
    font-family: sans-serif;	
	font-size: 25px;
	color: white;
}
.addBtn {
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}
form{
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;

}
label{
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}
input {
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}