/*body {
	background-image: url("../images/remote.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}*/
html {
	background: url("../images/remote.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
	color: white;
	padding-top: 100px;
}

div {
	background-color: transparent;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}

button {
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}
.addBtn {
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}
form {
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}
label {
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}
input {
	background-color: transparent;
	border-color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: white;
}
footer {
	text-align: left;
	font-family: sans-serif;
	font-size: 17px;
	text-align: center;
	color: white;
	padding-top: 700px;
}
